@import '../_css/mixins';
@import 'nav-bar-basics';
@import 'nav-bar-a';


nav li:hover ul {
	clip: rect(0,10em,20em,0);
	z-index: 100;
}

nav li ul {
	clip: rect(0,0,0,0);
	z-index: 10;
	@include transition(all 1s .2s);	
	-webkit-font-smoothing: subpixel-antialiased; // for transition so text doesn't look weird in chrome and safari
}
