nav ul {
	margin: 0;
	padding: 0;
	background-color: rgba(0,0,0,.5);
	list-style-type:none;
	padding: .5em 1em;
	border-radius: 3px;	
}

nav li {
	display: inline-block;	
}

nav a {
	color: white;
	font-family: QuicksandBold;	
	text-decoration: none;
	display: inline-block;
	margin: 0 5px;
	border-radius: 4px;
	padding: 8px 10px;
	background-color:rgba(0,0,0,.5)
}
