/* transition mixins */
/* animation mixins */
img {
  -moz-transition: all 0.75s;
  -o-transition: all 0.75s;
  -webkit-transition: all 0.75s;
  -ms-transition: all 0.75s;
  transition: all 0.75s;
  position: relative;
  z-index: 10;
  margin: 10px;
  border: 3px solid white;
  box-shadow: 3px 3px 3px rgba(102, 102, 102, 0.75); }

img:hover {
  z-index: 100;
  -moz-transform: rotate(360deg) scale(3);
  -o-transform: rotate(360deg) scale(3);
  -ms-transform: rotate(360deg) scale(3);
  -webkit-transform: rotate(360deg) scale(3);
  transform: rotate(360deg) scale(3); }

img.medium:hover {
  z-index: 100;
  -moz-transform: rotate(360deg) scale(2);
  -o-transform: rotate(360deg) scale(2);
  -ms-transform: rotate(360deg) scale(2);
  -webkit-transform: rotate(360deg) scale(2);
  transform: rotate(360deg) scale(2); }

img.big:hover {
  z-index: 100;
  -moz-transform: rotate(360deg) scale(1.5);
  -o-transform: rotate(360deg) scale(1.5);
  -ms-transform: rotate(360deg) scale(1.5);
  -webkit-transform: rotate(360deg) scale(1.5);
  transform: rotate(360deg) scale(1.5); }
